@font-face{
    font-family:"Microgramma";
    src: url("Microgramma.otf");
}
body {
    font-family:Microgramma ;
    background-image: url("images/bg-02.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #00002a;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px; 


}
.txt{
    color: #FFD4D3;
    font-size: 40px;
    text-shadow: 7px 1px #A80300;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul{
    color: #FFD4D3;
    font-size: 40px;
    text-shadow: 7px 1px #A80300;
    list-style: none;
    text-align: center;
    transition: 1s
    
}
li{
    display: inline;
}
.LinksMenu:hover {
    text-shadow: 11px 5px #A80300;
    -webkit-transition: 0.08s ease-in;
  
}
a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    color: #FFD4D3;
  }


#overlay{
    text-align: center;
    padding: 45px 0 66px 0;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    color:#E1C1AA ;
    bottom: 0; 
    margin:auto;
    width: 300px;
    padding-top: 75%;
    
    
    
}
#na:hover #overlay{
    opacity: 1;
    
    
}

#na:hover{
    /*-webkit-filter: grayscale(1);*/
    /*filter: blur(2px);*/
    
    /*-webkit-transition: 0.4s ease-in;*/
    box-shadow: inset 1px 1px 80px 0 rgba(0, 0, 0, 0.45);
}
#na{
    background-image: url("images/slowrush.jpeg");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 600px;
    border: 1px solid #FFD4D3;
    -webkit-transition: 0.12s ease-in;
    overflow: hidden;
    
}

footer{
    /*background-color: #A80300;*/

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #FFD4D3;
    text-align: center;
}
.copy{
    font-family: helvetica  ;
    font-weight: bolder;
    
}
.speaker{
    width: 10%;
    
}
h1,h4{
    text-align: center;
    color: #FFD4D3/* #E1C1AA;*/;
    text-shadow: 11px 5px #A80300;
}
h4{
    text-decoration: underline;
    text-decoration-color:#A80300;
}
.fa {
    width: 50px;
    font-size: 25px;
}
.fa-twitter:hover{
    color: #00acee;
    
}
.fa-instagram:hover{
    color: #833AB4;
}
.fa-youtube:hover{
    color: #c4302b;
}
.Innerspeaker, .Lonerism, .Currents, .Slow{
    width: 400px;
    height: 400px;
    border: 1px solid #FFD4D3;
    
}
.discos{
    margin: auto;
    text-align: center;
    
}
.formulario{
    
    font-family: "Helvetica";
    color: whitesmoke;
    background: rgb(204,0,0);
    background: linear-gradient(360deg, rgba(204,0,0,1) 0%, rgba(130,1,75,1) 38%, rgba(56,0,177,1) 78%);
    border-radius: 15px 15px 15px 15px;
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45);
    position: relative;
    width: 650px;
    height: 400px;
    margin: 0 auto;
    padding: 10px;
}
textarea{
    resize: none;
}

